body
{
	/*background-color: #0000FF;*/
	padding: 1%;
}

h2
{
	padding-top: 4%;
	padding-bottom: 2%;
	margin-top: 0%;
	margin-bottom: 0%;
}

.window
{
	/*background-color: #FFFF00;*/
	width: 40%;
	padding-top: 0.4%;
	padding-bottom: 0.4%;
	padding-left: 1.2%;

	margin-bottom: 0.75%;

	border: 1px  solid #000000;
}

.windowContent
{
	/*background-color: #00FFFF;*/
	padding-top: 0.5%;
	padding-left: 1.4%;
}
