body
{
	background-color: #99cdFF;
	padding: 1%;
	font-family: sans-serif;
}

h1
{
	padding-top: 0%;
	padding-bottom: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
}

h2
{
	margin-top: 0%;
	margin-bottom: 0%;
	border-bottom: 1px solid blue;
}

.window
{
	/*background-color: #FFFF00;*/
	width: 40%;
	padding-top: 0.4%;
	padding-bottom: 0.4%;
	padding-left: 1.2%;

	margin-bottom: 0.75%;

	border: 1px  solid #000000;
}

.windowContent
{
	/*background-color: #00FFFF;*/
	padding-top: 0.5%;
	padding-left: 1.4%;
}

.paragraphWTitle
{
	background-color: #FFFFFF;
	margin: 1%;
	padding: 0.5%;
}
